.posters {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    div {
        display: flex;
        margin-top: 20px;
        
    }

}

.row {
    border: 1px solid black;
}

.col {
    border: 1px solid black;
}

@media screen and (max-width: 960px) {
    .bodyComps {
        display: flex;
    }

    .row {
        flex-direction: column;
        flex-flow: wrap;
    }

    .posters {
         margin-right:10px;
    }
}